[Desktop Entry]
Name=External Monitor Control
Name[fr]=Luminosité de moniteur externe
Name[hu]=Külső Monitor Fényerőszabályzó

Comment=Control external monitor brightness via DDC/CI and Apple HID protocols
Comment[fr]=Modifier la luminosité des moniteurs externes via le protocole DDC/CI
Comment[hu]=Külső monitorok fényerejének szabályozása a DDC/CI protokollon keresztül

Type=Application
Exec=cosmic-monitor-control-applet
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
Icon=io.github.xarbit.CosmicMonitorControlApplet-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
