#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	cargo build --release --all-features

override_dh_auto_install:
	install -Dm755 target/release/cosmic-monitor-control-applet \
		debian/cosmic-monitor-control-applet/usr/bin/cosmic-monitor-control-applet

override_dh_auto_test:
	# Skip tests for now
	:

override_dh_auto_clean:
	cargo clean || true
